<app-header></app-header>


<div class="mensaje">
    <h1>¡ESTAMOS MUY EMOCIONADOS!</h1>
    <p>En JAI Accesories, estamos trabajando arduamente para traerte lo mejor en accesorios y manualidades. Nuestra nueva colección está llena de sorpresas que te encantarán. Desde cintas y resinas hasta viniles y beads, cada producto ha sido seleccionado con mucho amor y dedicación. ¡No podemos esperar para compartirlo contigo!</p>
</div>

<h1 style="text-align: center; padding: 20px 0;">Lista de Productos</h1>
<div class="product-list">
    <div class="product">
        <img src="img/cintasrojas.jpg" alt="Producto 1">
        <h3>Cintas Rojas</h3>
        <p>Precio: $7.00</p>
    </div>
    <div class="product">
        <img src="img/cintasmixtas.jpg" alt="Producto 2">
        <h3>Cintas Mixtas</h3>
        <p>Precio: $11.00</p>
    </div>
    <div class="product">
        <img src="img/cintasamarillas.jpg" alt="Producto 3">
        <h3>Cintas Amarillas</h3>
        <p>Precio: $7.00</p>
    </div>
    <div class="product">
        <img src="img/stitch.jpg" alt="Producto 1">
        <h3>Resina Stitch</h3>
        <p>Precio: $3.00</p>
    </div>
    <div class="product">
        <img src="img/sirenita.jpg" alt="Producto 2">
        <h3>Resina Sirenitas</h3>
        <p>Precio: $4.00</p>
    </div>
    <div class="product">
        <img src="img/princess.jpg" alt="Producto 3">
        <h3>Resina Princesas</h3>
        <p>Precio: $3.50</p>
        </div>
        <div class="product">
            <img src="img/tornasol.jpg" alt="Producto 1">
            <h3>Vinil Tornasol</h3>
            <p>Precio: $10.00</p>
        </div>
        <div class="product">
            <img src="img/vinil-corte-pvc.jpg" alt="Producto 2">
            <h3>Paquete Viniles de Colores</h3>
            <p>Precio: $25.00</p>
        </div>
        <div class="product">
            <img src="img/metalico.jpg" alt="Producto 3">
            <h3>Vinil Amarillo Metálico</h3>
            <p>Precio: $10.00</p>
        </div>
    