<app-header></app-header>



<div class="banner-container">
    <img src="img/jai.jpg" alt="Banner" class="banner-image">
    <div class="banner-text">
      <h1>Bienvenido a JAI Accessories</h1>
      <p>Descubre nuestras creaciones únicas y personalizadas</p>
    </div>
  </div>




<div>
    <!-- Contenido del sitio -->
    <section id="inicio">
        <h1>Nuestra Historia</h1>
        <h2>Pasión por las Creaciones</h2>
        <button class="btn btn-primary" (click)="irApagina('quienessomos')">Conocenos Más</button>
        <p>En JAI Accesories, somos una empresa familiar que nació de la necesidad y la pasión por la creación. Desde 2008, hemos estado dedicados a ofrecer productos de alta calidad. Nuestra misión es brindarte el mejor servicio que reflejen nuestra historia y compromiso por las manualidades.</p>
    </section>

    <br>
    <br>

    <div class="container">
        <!-- Categoría: Cintas -->
        <div class="category">
            <img src="img/cintas.jpg" alt="Cintas" style="width:100%; height:auto;">
            <h2 style="text-align: center;">Cintas</h2>
            <h3>Descubre nuestra varidad de cintas en tamaños y motivos que tenemos que ofrecerte</h3>
            <button class="btn btn-primary" (click)="irApagina('catalogo')">Ver Más</button>
            <br>
            <br>
        </div>
      
        <!-- Categoría: Viniles -->
        <div class="category">
            <img src="img/viniles.jpg" alt="Viniles" style="width:100%; height:auto;">
            <h2 style="text-align: center;">Viniles</h2>
            <h3>Encuentra diferentes estampados en nuestros viniles; sólidos, brillos y personajes</h3>
            <button class="btn btn-primary" (click)="irApagina('catalogo')">Ver Más</button>
            <br>
            <br>
        </div>
      
        <!-- Categoría: Resinas Acrílicas -->
        <div class="category">
            <img src="img/resinas.jpg" alt="Resinas Acrílicas" >
            <h2 style="text-align: center;">Resinas Acrílicas</h2>
            <h3>Contamos con una variedad de personajes y/o motivos en resinas acrílicas a tu gusto</h3>
            <button class="btn btn-primary" (click)="irApagina('catalogo')">Ver Más</button>
            <br>
            <br>
        </div>

        
    </div>
</div>




     
  



    


