<app-header></app-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<section id="bienvenida">
    <h1>Descubre Nuestra Historia y Pasión</h1>
    <p>En JAI Accesories, cada producto cuenta una historia de perseverancia y amor. Únete a nosotros y conoce más sobre quiénes somos.</p>
    
    
    <div class="responsive-image-container">
        <img src="img/entrada.jpg">
      </div>
    </section>
    
    <section id="historia">
      <h1>Nuestra Historia</h1>
      <p>JAI Accesories es una empresa familiar fundada en Peñuelas, PR, en respuesta a un momento de desafío. Cuando me quedé sin trabajo y con dos hijos a mi cargo, decidí emprender vendiendo carteras y perfumes. En 2008, la familia creció con la llegada de un nuevo integrante, quien fue la inspiración para seguir adelante. Así nació JAI, cuyo nombre está inspirado en mis tres primeros hijos: Joel, Ashley e Izabella. Con el tiempo, hemos ampliado nuestra oferta para incluir una sección de manualidades, ofreciendo productos de alta calidad y un servicio excepcional. En JAI, estamos comprometidos con la satisfacción de nuestros clientes, proporcionando una amplia variedad de productos para manualidades y accesorios.</p>
      
    </section>
    
     <!-- Sección de Reviews -->
     <section class="reviews-section">
        <h2>Lo Que Dicen Nuestros Clientes</h2>
        <div class="reviews-container">
          <!-- Review 1 -->
          <div class="review-card">
            
            <div class="review-content">
              <h3>Keyroa Joan Piña</h3>
              <h4>★★★★★</h4>
              <p>“Soy clienta de muchos años y mi experiencia siempre ha sido satisfactoria siempre está dispuesta ayudar en caso de combinar o tener alguna duda en crear un moño. Estoy eternamente agradecida con Jai Manualidades pues ella ha sido parte de mi crecimiento en el mundo de los lazos."</p>
            </div>
          </div>
          <!-- Review 2 -->
          <div class="review-card">
           
            <div class="review-content">
              <h3>Sister’s Creations By Lee</h3>
              <h4>★★★★★</h4>
              <p>"Excelente servicio super rapido a la hora d ordenar y hacer envíos muy responsables me encanta ordenar siempre con ustedes por la rapidez en la q atienden al cliente mucho éxito siempre y bendiciones"</p>
            </div>
          </div>
          <!-- Review 3 -->
          <div class="review-card">
           
            <div class="review-content">
              <h3>Sol Martinez</h3>
              <h4>★★★★★</h4>
              <p>"He comprado por varios años y el servicio es excelente! Amabilidad, rapidez, calidad, precio.Sin duda te seguiría recomendando siempre!"</p>
            </div>
          </div>
          <!-- Review 4 -->
          <div class="review-card">
            
            <div class="review-content">
              <h3>Maria Isabel Pagan</h3>
              <h4>★★★★★</h4>
              <p>"Me encanta son muy responsables y serviciales. Tan pronto hago mi pedido rápido llega sin ningún problema y a tiempo. Recomendado,Gracias mucho éxito"</p>
            </div>
          </div>
          </div>
    
    
     <!-- Sección de contacto -->
     <section class="contact-section">
        <h2>¡Conéctate con Nosotros!</h2>
        <div class="contact-links">
          <!-- Botón Facebook con icono -->
          <a href="https://www.facebook.com/people/Jai-Manualidades/61564414271178/" target="_blank" class="facebook">
            <i class="fa-brands fa-facebook fa-2x"></i>
            
          </a>
          <!-- Botón instagram con icono -->
          <a href="https://www.instagram.com/jai_manualidades/?igsh=MWZ2ZGQ1YWcyNnZ4cg%3D%3D" target="_blank" class="instagram">
            <i class="fa-brands fa-square-instagram fa-2x"></i>
          </a>
          <!-- Botón tiktok con icono -->
          <a href="https://www.tiktok.com/@jai_manualidades?_t=8pS31wso6Zy&_r=1" target="_blank" class="tiktok">
            <i class="fa-brands fa-tiktok fa-2x"></i>
          </a>

